
body{
  padding-top: 80px; /* ajusta conforme a altura do seu Header */

}

/* no desktop deixa estreito */
.offcanvas-responsive {
  width: 250px !important;
}

/* mas no mobile ocupa 100% */
@media (max-width: 768px) {
  .offcanvas-responsive {
    width: 100% !important;
  }
}

.h2, .component-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
