.dark-mode-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.dark-mode-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.dark-mode-slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* Bolinha que se move */
.dark-mode-slider .icon-wrapper {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s;
}

/* Movimento da bolinha quando ativo */
.dark-mode-switch input:checked + .dark-mode-slider .icon-wrapper {
  transform: translateX(24px);
}
